{% comment %} CDN for Swiper coursel {% endcomment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

{% comment %} Container {% endcomment %}
<div class="max-w-6xl mx-auto my-8">
  {% comment %} Grid container {% endcomment %}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    {% comment %} Product Images {% endcomment %}
    <div class="product--medias">
      {% comment %} Renders on medium screen {% endcomment %}
      <div class="hidden md:block">
        {% comment %} Loops through media for product {% endcomment %}
        {% for media in product.media %}
          <div class="h-100 overflow-hidden p-2">
            {% render 'product-media'
              , media: media %}
          </div>
        {% endfor %}
      </div>

      {% comment %} Renders in medium screen {% endcomment %}
      <div class="md:hidden">
        {% comment %} Coursel wrapper {% endcomment %}
        <div class="swiper h-94">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              <div class="swiper-slide">
                <div class="h-80 overflow-hidden p-2">
                  {% render 'product-media'
                    , media: media %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% comment %} pagination {% endcomment %}
        <div class="swiper-pagination"></div>
        {% comment %} Previous Buttons {% endcomment %}
        <div class="swiper-button-prev"></div>
        {% comment %} Next Button {% endcomment %}
        <div class="swiper-button-next"></div>
      </div>
    </div>
    {% comment %} Product description {% endcomment %}
    <div class="product--information"></div>

  </div>
</div>

{% comment %} Initial swiper JS {% endcomment %}
<script>
  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    pagination: {
        el: '.swiper-pagination'
    },
    navigation: {
        prevEl: 'swiper-button-prev',
        nextEl: 'swiper-button-next'
    }
  })
</script>